/* Main CSS for Portfolio page */

/* View Formatting */
    body {
        display: flex;
        min-height: 100vh;
        flex-direction: column;
    }

    main {
        flex: 1 0 auto;
    }

/* Header Formatting (View) */

    .parallax-container-main {
        min-height: 100vh;
        max-height: 100vh;
    }
    .upperHeader {
        min-height: 60vh;
        max-height: 60vh;
        margin-top: 20vh;
    }
    .lowerHeader {
        min-height: 20vh;
        max-height: 20vh;
        margin: 0%;
    }

/* Header Formatting (Text) */

    .reset-marg-pad {
        margin: 0% !important;
        padding: 0% !important;
    }

    .siteTitle {
        font-size: 20vh !important;
        font-family: 'Roboto', sans-serif;
        margin: 0%;
    }

    .positionTitle {
        font-size: 5vh !important;
        font-family: 'Open Sans', sans-serif;
        margin-top: 5vh;
        margin-bottom: 0%;
    }

    .welcomeText {
        font-size: 5vh !important;
        font-family: 'Open Sans', sans-serif;
        margin-top: 15vh;
        margin-bottom: 5vh;
    }

    .arrorwIcon {
        font-size: 5vh !important;
        font-family: 'Open Sans', sans-serif;
        margin-bottom: 20vh;
    }

/* Text and Content Formatting */

    .question {
        font-weight: bold;
        font-family: 'Roboto', sans-serif;
    }

    .mainContent {
        font-family: 'Open Sans', sans-serif;
    }

    .mainContentHighlighted {
        font-weight: bold;
        font-family: 'Open Sans', sans-serif;
    }